body{
    background-color: #000;
}
.container{
    width: 37.5rem;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 25rem;
    border-radius: 4px;
}

.calc{
    width: 18.75rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    row-gap: 1.25rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .2);
}

input{
    height: 1.375rem;
    padding: .5rem;
    font-size: 1.2rem;
    margin: .9375rem 4.375rem;
    border-radius: 5px;
}

/* Apenas válido para inputs type number! */
input[type=number]:focus{
    outline: none;
    box-shadow: 0 0 .625rem #3b59ee;
    border: 1px solid #74d0ff;
}

button{
    background-color: #007afe;
    border: none;
    color: #fff;
    padding: .9375rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #0069d9;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0, .2);
}